body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB", "STHeiti", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
    font-size: 1.6em;
}

.dropdown-menu {width:100%}
.container { 
    width: 1088px; 
    padding:0;
    position: relative;
}
.navbar-default {
    border:0;
    position: fixed;
    top:0;
    width:100%;
    z-index: 100
}
.container-fluid {
    width: 1088px; 
    padding-left: 220px;
    background: transparent url('../images/logo.png') no-repeat 25px 16px;
    position: relative;
}
.navbar {
    height: 90px;
    background-color: rgba(12,95,161,0.9)
}
.navbar .navbar-nav:first-child {
    position:absolute;
    top:50%;
    margin-top:-25px; 
}
.navbar .navbar-nav:first-child li:last-child {
    margin-left:20px
}
#navigator li { height:71px}
.navbar-nav li { margin-right:1.2em}
.navbar-default .navbar-nav>li>a { color:white}
.navbar-signin { margin-left:2em; font-size:0.95em}
.navbar-signin, .navbar-signin a { color:white}
.navbar-signin a { text-decoration: underline}
.navbar-signin div {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: top;
    margin-top: 5px;
}
.navbar-signin div > span:first-child { color:#8ec1e9}
.navbar-right { 
    width:88px;
    height: 88px;
    background-color: rgba(9,80,136,0.44)
}
.navbar-right  li {
    position: absolute;
    top: 17px;
    right: 33px;
    margin-right:0;
}
.navbar-right img {width:24px; height:25px}
#zhaopinDiv {
    position: absolute;
    border-top: 3px solid #fc4100;
    border-bottom: 3px solid #fc4100;
    overflow: visible;
    top:90px;
    left:540px;
    color:white;
    background-color: rgba(12,95,161,0.9);
    z-index: 1;
    font-size:0.95em;
    display: none
}
#redTrian {
    position: absolute;
    top: -9px;
    left: 30px;
}
#zhaopinDiv > div {
    padding: 25px 30px;
}
#zhaopinDiv > div:last-child {
    border-top: 2px solid rgba(255,255,255,0.23);
    font-size:1.1em;
    clear: both;
}
#zhaopinDiv > div:last-child > span {
    display: block;
    float: left;
}
#zhaopinDiv > div:last-child > span:first-child {
    border-right: 2px solid rgba(255,255,255,0.23);
    padding-right: 15px
}
#zhaopinDiv > div:last-child > span:nth-child(2) {
    padding-left: 15px
}
#zhaopinDiv > div:last-child > div {
    clear:both;
    position: relative;
    padding-top: 10px;
}
#zhaopinDiv > div:last-child > div> div {
    margin-left: 1em;
    display: inline-block;
    position: absolute
}
#zhaopinDiv > div:last-child > div> div >span {
    display:block;
    padding-top: 0.6em
}
#zhaopinDiv > div:last-child > div > div a {
    color: #a7c0db;
    font-size: 0.8em
}
#zhaopinDiv ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2em;
    margin-bottom: 0;
    float:left;
    margin-right:10px
}
#zhaopinDiv > div > ul:first-child {
    margin-right: 50px;
    padding-bottom: 20px;
}
.white a { color:white}
.arrow-right {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid white;
    margin-right:6px
}

@media (max-width:1088px) {
#background, #logDiv, #footerDiv { width:958px; }
}

@media (min-width:1088px) {
    #background, #logDiv, #footerDiv { width:100%; }
}

#background {
    height: 659px;  
    left: 0px; 
    top: 0px; 
    z-index: -1;
    position: absolute;
}

.stretch {
    width:100%;
    height:100%;
}

#topRightDiv {
    margin-top:135px;
    border-left:1px solid white;
    border-top: 1px solid white;
    width:34%;
    position:relative;
    left:66%;
    height:370px;
    color: white;
}
#topRightDiv > div {
    margin: 32px 0 0 38px;
}
#sectionDiv {
    background-color: rgba(12,95,161,0.9);
}

#sectionDiv .subHeaderDiv:first-child {
    border-left: none;
}
.subHeaderDiv { 
    width:33%;
    border-left: 1px solid #427caa;
    float:left;
}
.container >.subHeaderDiv:last-child {
    border-right:0;
    width:34%
}
.subHeaderDiv table {
    color: white;
    margin: 25px 55px
}
.subHeaderDiv tr:first-child td:first-child {
    width:57px
}

.subHeaderDiv tr:last-child td {
    padding-top:20px
}
.subHeaderDiv button, .subHeaderDiv input {
    height:38px
}
.subHeaderDiv button {
    text-align: left;
}
.subHeaderDiv .btn-default {
    color:white;
    border-color:white;
    background-color: transparent;
}
.subHeaderDiv .btn-group button {
    background: url('../images/arrow.png') no-repeat 95% center;
}
.subHeaderDiv .dropdown-menu { color:black;}
.subHeaderDiv .input-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.subHeaderDiv input {
    background-color: transparent;
    border-color: white;
    color: white
}
#shipmentDiv {
    clear:both;
    margin-top:50px;
    height:700px;
    width:100%;
    background: url('../images/china.jpg') no-repeat center center;
}

#shipmentDiv .content {
    clear:both;
    margin-top:50px;
    border-top: 3px solid #0c5fa1;
}
#shipmentDiv .content ul {
    width:315px;
    font-size:1.3em;
    float:left;
}
#shipmentDiv .nav-stacked li span {
    display:block;
    font-size:0.7em;
    margin-top:5px;
    font-weight: normal
}
#shipmentDiv .nav-stacked li b { display: block}
#shipmentDiv .nav-stacked li {
    border-top: 1px solid rgba(0,0,0,0.12);
    overflow: visible;
}
#shipmentDiv .nav-stacked > li:first-child {
    border-top:none
}
#shipmentDiv .nav-stacked li a {
    color:black;
    padding: 1em 15px 1em 0;
    border-radius: 0;
}

#shipmentDiv .nav>li>a:hover, #shipmentDiv .nav>li>a:focus, #shipmentDiv .nav>li>a.onfocus {
    background-color:white;
    cursor: pointer;
    border-right: 1px solid white;
    width: 316px;
    z-index: 1;
}
#shipmentDiv .nav>li>a:hover > div, #shipmentDiv .nav>li>a.onfocus > div {
    background: white url('../images/redsquare.jpg') no-repeat 0 0.3em;
}
#shipmentDiv .nav>li>a:hover > div > b, .nav>li>a.onfocus > div > b { color: #0c5fa1; margin-left:25px}
.nav-stacked>li+li {
    margin-top: 0
}
#imgDiv {
    background: transparent url('../images/shipment.png') no-repeat right 90px;
    width:640px;
    height:538px;
    position: absolute;
    left:315px;
    border-left: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
    position: relative;
}
#imgDiv > div {
    background: rgba(255,255,255,0.98) url('../images/ship.jpg') no-repeat 40px 30px;
    position: absolute;
    padding: 30px 30px 50px 180px;
    display: none;
}
#imgDiv p {
    font-size:0.9em;
    line-height: 2em;
    margin-top:1em
}
#imgDiv > div:first-child {top:3px}
#imgDiv > div:nth-child(2) { top: 6.125em;}
#imgDiv > div:nth-child(3) { top: 12.25em;}
#imgDiv > div:nth-child(4) { top: 18.375em;}
#logDiv {
    height:650px;
    padding-top:30px;
    background-color: #335791;
    color: white;
}
#logDiv .container {text-align: center}
#logDiv ul {
    margin: 30px 0 0 1%;
    list-style: none;
    padding: 0;
}
#logDiv ul li {
    width: 33%;
    padding-left:5%;
    padding-right:5%;
    float:left;
    font-size: 1.2em
}
#logDiv ul li p { text-align: left; margin-top:15px; line-height: 1.5em; font-size:0.8em}

#ssDiv {
    padding-top: 50px;
}
#ssLeftDiv {
    margin-top:70px;
    display: block; 
    clear:both;
    position:relative;
    width:598px;
    height:573px;
    background: url("../images/ssImg.jpg") no-repeat left bottom;
}
#ssLeftDiv > div {
    position: absolute;
    z-index: 1;
    width:0;
    height:0
}
#ssLeftDiv > div:first-child {
    left:215px;
    top: 0px;
    background: transparent url("../images/owner.png") no-repeat left bottom
}
#ssLeftDiv > div:nth-child(2) {
    left: 345px;
    top: 92px;
    background: transparent url("../images/vendor.png") no-repeat left bottom
}
#ssLeftDiv > div:last-child {
    left: 465px;
    top: 198px;
    background: transparent url("../images/driver.png") no-repeat left bottom
}
.flashDiv {
    background: url("../images/bluedot.jpg") no-repeat left center;
    position:absolute;
    padding-left: 64px;
    z-index: 2;
    display: none;
    cursor: pointer
}
.flashDiv > div:first-child {
    height: 44px;
    float:left;
    border-bottom:1px dotted #375A93
}
.flashDiv > div:last-child {
    display: block;
    float: left;
    margin-left:1px;
    width: 340px;
}
.flashDiv > div:last-child > div{
    color:#3964a7; 
    font-size:1.4em;
    margin-left:1em
}
.flashDiv > div:last-child > p{
    font-size:0.8em;
    margin-left:1.8em;
    margin-top: 0.5em
}
.flashDiv ul {
    list-style: none;
    padding:0;
    margin:0;
}
.flashDiv  ul li:before {
    content: "■ ";
    color: #375A93;
    margin-right:0.5em
}
#flashDiv1 {
    top: 113px;
    left: 260px;
}
#flashDiv1 > div:first-child { width:280px;}
#flashDiv2 > div:first-child { width:145px;}
#flashDiv3 > div:first-child { width:55px;}
#flashDiv2 {
    top: 205px;
    left: 389px;
    padding-left: 80px; 
}
#flashDiv3 {
    top: 311px;
    left: 509px;
    background-position-y: 36px;
}
#flashDiv3 > div:last-child {
    width:300px
}
#ownerImg {
    position: absolute;
    display: block;
    margin-left: 300px;
}
#footerDiv {
    background-color: #4c4c4c;
    padding: 100px 0 60px;
}
#footerDiv li, #footerDiv li a {color:white}
#footerDiv ul {
    list-style: none;
    padding-left: 0;
}
#footerDiv .container > ul { margin-left: 10px}
#footerDiv .container > ul > li {
    float:left;
    margin-right:90px;
    font-size: 1.2em
}
#footerDiv .container > ul > li:last-child {
    margin-right:0;
    margin-left:55px;
}
#footerDiv .submenu {
    margin-top: 20px;
    font-size: 0.7em
}
#footerDiv .submenu li {
    line-height: 2em
}
#footerDiv footer {
    clear:both;
    color: white;
    font-size: 0.7em;
    padding-top: 50px;
}
#shipmentDiv .container, #ssDiv .container, #logDiv .container, #footerDiv .container {width:958px}
#timeOfDay {
    float:right; 
    font-size:1.2em; 
    margin:15px 65px 0 10px
}
#clock {float:right; font-size:60px;}

#contact-middleDiv {
    height: 862px;
    width:958px;
    margin: auto;
    background: white url("../images/contactbg.jpg") no-repeat;
    position: relative
}
#contact-middleDiv > div:first-child {
    padding-top:85px;
    margin-left: 65px
}
#aboutUs {
    width:500px;
    margin-top:40px;
    margin-left: 65px
}
#aboutUs p, #contactUs {
    line-height: 1.5em;
    font-size:0.95em;
    margin-top: 15px;
    margin-bottom: 0;
}
#aboutUs span,#contactUs span {
    font-size:1.5em;
    margin-bottom: 15px;
    display: block
}
#aboutUs > p:last-child {
    margin-top: 0
}
#contactUs {
    line-height: 2em;
    position: absolute;
    top: 475px;
    left: 700px
}
.vspan100 { height: 100px;}
#recruitTb {
    line-height: 2em;
    width:1088px;
    margin: auto;
}
#recruitTb > tbody>tr:first-child > td:last-child {
    font-size:0.95em
}
#recruitTb tr > td:first-child {
    width: 30%
}
#recruitTb > tbody>tr > td {
    padding: 20px 0px 70px 10px;
    vertical-align: top;
}
#recruitTb > tbody>tr:first-child > td:first-child >div {
    line-height: 1.5em
}
#recruitTb > tbody>tr:first-child > td:first-child >div {
    margin-top: 10px
}
#recruitTb > tbody>tr:first-child > td:first-child >div >div {
    margin-left: 1em;
    display: inline-block;
    position: absolute
}
#recruitTb > tbody>tr:first-child > td:first-child >div >div > span {
    display:block;
    padding-top: 0.5em
}
#recruitTb > tbody>tr > td:first-child {
    border-bottom: 1px solid #246faa;
}
#recruitTb > tbody>tr > td:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 50px
}
#recruitTb > tbody>tr > td table {
    font-size: 0.8em;
    margin: 40px 0 50px
}
#recruitTb .btn-group-justified {
    padding-right: 20px;
}
#recruitTb .btn-group-justified button {
    background-color: #1f669d;
    color:white;
    font-size: 1.2em;
    padding: 10px 0
}
#recruitTb .jobtitle {
    font-size: 1.5em
}
#recruitTb > tbody>tr > td table tr >td:last-child {
    width:20%
}
#recruitTb p {
    font-size: 0.95em
}
#secondnav {
    position: fixed;
    display:none;
    height: 55px;
    top:0px;
    width:100%;
    background-color: rgba(12,95,161, 0.9)
}
#secondnav .container-fluid {
    width: 1088px; 
    height: 55px;
    padding-left: 70px;
    background: transparent url('../images/icon.png') no-repeat 25px 15px;
    position: relative;
}
#secondnav .navbar-nav:first-child li:last-child {
    margin-left: 0
}
#secondnav .navbar-nav li {
    margin-right: 0.2em;
}
#toTop {
    position: fixed;
    z-index: 10;
    right: 40px;
    bottom: 40px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 2em;
}
#toTop a {
    color: #31439e;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in, border-color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, border-color 0.2s ease-in;
    -o-transition: color 0.2s ease-in, border-color 0.2s ease-in;
    transition: color 0.2s ease-in, border-color 0.2s ease-in;
}
#toTop span {
    background: none repeat scroll 0 0 transparent;
    color: #31449e;
    border: 4px solid #31449e;
    border-radius: 300px 300px 300px 300px;
    padding: 10px;
    height: 50px;
    width: 50px;、
    line-height: normal;
    vertical-align: baseline;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-size: 20px;
}
#toTop span:hover {
    border-color: #e8a231;
}
#toTop span:hover:before {
    color: #e8B231;
}
#toTop span:before {
    margin-left: 0px;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}