<div class="navbar navbar-default" id="secondnav" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li ng-repeat="item in cats | filter:{type:'job'} | orderBy:'key'"><a ng-click="setJobCat(item.key)">{{item.title}}</a></li>
		</ul>
	</div>
</div>
<table id="recruitTb">
	<tr>
		<td>
			<span>招聘负责人</span>
			<div>
				<img src="images/chenziwen.png">
				<div><span>陈子文</span><a href="#">wenzi-chen@hnair.net</a></div>
			</div>
		</td>
		<td>邻客物流有限公司作为海航集团下属产业，注册资本2亿元人民币。国家5A级物流企业，依托海航集团强有力的战略支持，坚持实体物流与虚拟物流联动的发展模式，旨在发展成为一家基于客户服务和体验的、依托互联网技术的新型物流公司。 <a href="#">[更多介绍]</a></td>
	</tr>
	<tr>
		<td>
			<span class="jobtitle">安卓开发工程师</span>
			<table>
				<tr><td colspan="2">发布日期：2014-09-16</td></tr>
				<tr><td>工作地点：上海</td><td>学 历：本科</td></tr>
				<tr><td>招聘人数：若干 </td><td>工作年限：10年以上</td></tr>
				<tr><td colspan="2">薪水范围：若干 </td></tr>
			</table>
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-default">应聘此职位</button>
				</div>
			</div>
		</td>
		<td>
			工作职责：
			<p>
				1、熟悉各类货物物理、化学等特性；<br>
				2、针对不同货物，根据其运输中应注意的事项，对船舶进行指导；<br>
				3、配合上级领导，建立公司货物监督流程，制定公司货物监督手册。<br>
			</p>
			<br>
			任职要求：
			<p>
				1、本科及以上学历；<br>
				2、优良的英文表达和书写能力；<br>
				3、吃苦耐劳，能适应临时性出差；良好的组织协调能力、团队合作精神；<br>
				4、有船长资历及经验者优先，须有散货船船上工作或监装经验。
			</p>
		</td>
	</tr>
</table>