<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/icon.png">
    <title>首页</title>
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body role="document">
          <!-- Static navbar -->
          <div id="navigator" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0)">主页</a></li>
                    <li><a href="#logDiv">解决方案</a></li>
                    <li><a href="#ssDiv">系统服务</a></li>
                    <li data-toggle="#zhaopinDiv"><a href="#">加入我们</a></li>
                    <li><a href="/#/contact">关于邻客</a></li>
                    <li>
                        <div class="navbar-signin">
                            <img src="images/signin.png">
                            <div><span>欢迎您！</span><br/>
                            <a ng-hide="user" ng-click="sign('signin')">登录</a> &nbsp;&nbsp; 
                            <a ng-hide="user" ng-click="sign('signup_simple')">注册</a> 
                            <a ng-show="user" href="#/b/home">我的{{site.title}}</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入关键字">
                    </div>
                    <input type="image" src="images/search.png">
                </form>
                <div id="zhaopinDiv"><img id="redTrian" src="images/redtriangle.png">
                    <div>
                        <ul><li><a href="/#/jobs"><span class="arrow-right"></span>安卓开发工程师</a></li>
                            <li><a href="/#/jobs"><span class="arrow-right"></span>物联网架构设计师</a></li>
                            <li><a href="/#/jobs"><span class="arrow-right"></span>Web开发工程师</a></li>
                        </ul>
                    </div>
                    <div><span>招聘负责人</span>
                        <span>Recruiting Director</span>
                        <div>
                            <img src="images/chenziwen.png">
                            <div><span>陈子文</span>
                                <a href="#">wenzi-chen@hnair.net</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-fluid -->
          </div>

<div ui-view></div>


    <div id="footerDiv">
        <div class="container">
            <ul>
                <li>
                    物流
                    <ul class="submenu">
                        <li><a href="#">登录</a></li>
                        <li><a href="#">注册</a></li>
                    </ul>
                </li>
                <li>
                    我有需求
                    <ul class="submenu">
                        <li><a href="#">询价与下单</a></li>
                        <li><a href="#">在途跟踪</a></li>
                        <li><a href="#">运费结算</a></li>
                    </ul>
                </li>
                <li>
                    关于我们
                    <ul class="submenu">
                        <li><a href="#">认识我们</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                </li>
                <li>
                    登录
                    <ul class="submenu">
                        <li><a href="#">登录</a></li>
                        <li><a href="#">注册</a></li>
                    </ul>
                </li>
                <li>
                    <div style="float:left"><img src="images/app.png"> App下载</div>
                    <div style="float:left;margin-left:50px"><img src="images/weixin.png"> 微信公众号</div>
                    <img src="images/qrcode.png" style="clear:both;display:block;margin-top:50px">
                </li>
            </ul>
            <footer>版权所有© 2014-2017 邻客物流有限公司 沪ICP 备 14043888 号</footer>
        </div>
    </div>
      <div id="toTop"><a id="toTopLink"><span class="icon-arrow-up glyphicon glyphicon-arrow-up"></span></a></div>
     <script src="js/homepage.js" type="text/javascript"></script>
  </body>
</html>