<link href="css/main.css" rel="stylesheet">
<div ng-hide="showJobNav" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<ul id="navigator" class="nav navbar-nav">
			<li><a href="#">主页</a></li>
			<li><a href="#logDiv">解决方案</a></li>
			<li><a href="#ssDiv">系统服务</a></li>
			<li data-toggle="#zhaopinDiv"><a href="#/jobs">加入我们</a></li>
			<li><a href="#/contact">关于邻客</a></li>
			<li>
				<div class="navbar-signin">
					<img src="images/signin.png">
					<div ng-hide="user">
						<span>欢迎您！</span><br/>
						<a href="#/s/signin">登录</a>  | 
						<a  href="#/s/signup">注册</a>
					</div>
					<div ng-show="user">
						<a href="#/b/home">我的{{site.title}}</a>  | 
					</div>
				</div>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right"><li><a href="#"><img src="images/search.png"></a></li></ul>
		<div id="zhaopinDiv">
			<img id="redTrian" src="images/redtriangle.png">
			<div>
				<ul>
					<li ng-repeat="item in jobs | orderBy: '-date' | limitTo:4" class="white"><span class="arrow-right"></span><a class="" href="#">{{item.title}}</a></li>
				</ul>
				<ul>
					<li ng-repeat="item in jobs | orderBy: '-date' | limitTo:8 | limitTo:-4" class="white"><span class="arrow-right"></span><a href="#">{{item.title}}</a></li>
				</ul>
			</div>
			<div>
				<span>招聘负责人</span>
				<span>Recruiting Director</span>
				<div>
					<img src="images/chenziwen.png">
					<div class="white"><span>{{site.hunter}}</span><a href="mailto:{{site.hunterEmail}}?subject=我想应聘{{site.title}}的招聘职位&body=我对贵公司的职位感兴趣，附件是我的简历。">{{site.hunterEmail}}</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="showJobNav" class="navbar navbar-default" id="secondnav" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li ng-repeat="item in cats | filter:{type:'job'} | orderBy:'key'"><a ng-click="setJobCat(item.key)">{{item.title}}</a></li>
		</ul>
	</div>
</div>

<div ui-view></div>
<div id="footerDiv">
	<div class="container">
		<ul>
			<li>
				物流
				<ul class="submenu">
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
				</ul>
			</li>
			<li>
				我有需求
				<ul class="submenu">
					<li><a href="#">询价与下单</a></li>
					<li><a href="#">在途跟踪</a></li>
					<li><a href="#">运费结算</a></li>
				</ul>
			</li>
			<li>
				关于我们
				<ul class="submenu">
					<li><a href="#">认识我们</a></li>
					<li><a href="#">联系方式</a></li>
				</ul>
			</li>
			<li>
				登录
				<ul class="submenu">
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
				</ul>
			</li>
			<li>
				<div style="float:left"><img src="images/app.png"> App下载</div>
				<div style="float:left;margin-left:50px"><img src="images/weixin.png"> 微信公众号</div>
				<img src="images/qrcode.png" style="clear:both;display:block;margin-top:50px">
			</li>
		</ul>
		<footer>版权所有© 2014-2017 深圳市邻客网络技术有限公司 广ICP 备 081XXXXXX 号</footer>
	</div>
</div>
<div id="toTop"><a id="toTopLink"><span class="icon-arrow-up glyphicon glyphicon-arrow-up"></span></a></div>
<script type="text/javascript">
$(document).ready(function() {
	$("#navigator>li").hover(function() {
		var selector = $(this).data("toggle");
		selector && $(selector).slideDown();
	},function() {
		var selector = $(this).data("toggle");
		selector && $(selector).hide();
	});

	$("#zhaopinDiv").mouseenter(function(){
		!$(this).is(":visible") && $(this).show();
	}).mouseleave(function() {
		$(this).is(":visible") && $(this).slideUp();
	});

	jQuery(window).scroll(function () {
		if (jQuery(this).scrollTop() >=200) {
			jQuery("#toTop").fadeIn();
		}else{
			jQuery("#toTop").fadeOut();
		}
	});

	jQuery("#toTop").click(function() {
		jQuery("html, body").animate({ scrollTop: 0 }, "slow");
		return false;
	});
});
</script>

 